/*variables*/
$color-fondo:#4C3A51;
$color-secundario:#E7AB79;

@import "condicionales","bucles";




* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: $color-fondo;
    margin: auto;


}


header,
.main {
    width: 90%;
    margin: 20px auto;

}

.ropamujeres {
    display: flex;
    justify-content: center;
}

.main .ropa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.main {

    grid-area: main;
}



header{
    nav{
        background-color: $color-secundario;
        padding: 20px;
        text-decoration: none;
    }
}



ul{
    list-style: none;
    font-size: 0;

    li{
        display: inline-block;
        width: 25%;
        position: relative;
        font-size: 14px;

        ul{
            position: absolute;
            display: none;

            li{
                display: block;

                &:hover ul{
                    display: block;
                }
            }
        }

    }


}



.div {
    display: flex;
  
    align-items: baseline;
    justify-content: space-between;
    margin: 5px;
 
}

.titulo {
    position: relative;
    left: 90px;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: xx-large;
    background: -webkit-linear-gradient(#ff0000,#7686fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

.contenedor .lista {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.producto{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}


.imagenes {
    margin: 5px;
}

.busqueda{

    visibility: visible;
}

fieldset {
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    width: 400px;
    border-radius: 4px;
    background-color: crimson;

}

.formulario{
    display: grid;
    grid-template-areas: "main" "main";
}

.espacios {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: column;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 16px;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 1px solid black;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: crimson;
    border-radius: 4px;
    border-color: white;
    border: 1px solid white;
    color: black;
}



.footer .pie {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: $color-secundario;

}

footer {
   
    grid-area: footer;

}

.boton{
    padding: 10px 20px;
    background-color: $color-secundario;
    border: solid 2px black;
    font-family: Arial, Helvetica, sans-serif;
}

.bodyGrid {
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"    
    ;

    overflow-x: hidden;
}

.header {
    grid-area: header;
}


@if () {}

@media (max-width:300px){

    .nav{
        display:flex;
        align-items: space-evenly;
    }


}


@media (max-width:600px) {
    .bodyGrid {
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer"
        ;
    }

    .busqueda{
        display: none;
    }

    .producto{
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .footer{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    
    }

    .btn{
        display: flex;
        flex-direction: column;
    } 



@keyframes aparecer {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

    

}